
body {
  font-family: 'Comfortaa', cursive;
  background: #D6FCDB;
  margin-top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
img {
    width: 10em
}
h1{
  text-align: center;
}
form {
  margin: 2em;
}
input {
  font-size: 1.2em;
  font-family: 'Comfortaa', cursive;
}
datalist {
  display: block;
  padding: 0;
  margin: 2em 10em;
  width: 35em;
}
option {
  padding: 0.5em;
  background-color: #f9ffd6;
  border: 0.1em solid black;
}
button{
padding: 10px 15px;
color: #fff;
background-color: #4682b4;
border-radius: 15px;
}
.result {
  display: none;
}

@media screen and (max-width: 765px) {
  img {
    width: 30%;
  }
  form {
    width: auto;
  }
  input {
    font-size: 0.8em;
  }
}
